doctype html
html
 head
  title Grade Summary
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(type='text/javascript', src='/javascripts/editor.js')
 body
  h1 Grade Summary
  p
   div
    div(class="name") Name: #{name}
    div(class="edit" onclick='renameGrade("#{id}")') Edit
    div Students:
    ul
     each student in students
      li 
       a(href="/students/#{student.id}") #{student.name}
     br
     form(action='/addStudent/#{id}' method='post')
      input(type='text' placeholder="Enter new student's name" name="studentName" required)
      span
       |    
      input(type="submit" value = "Add Student")
    div Subjects:
    ul
     each subject in subjects
       li 
        a(href="/subject/#{subject.id}") #{subject.name}
     br
     form(action='/addSubject/#{id}' method='post')
      input(type='text' placeholder="Enter subject's name" name="subject_name" required)
      span
       |   
      input(type='number' placeholder="Enter subject's maxScore" name="maxScore" required)
      span
       |  
      input(type="submit" value = "Add Subject")
