doctype html
html
 head
  title Subject Summary
  link(rel='stylesheet', href='/stylesheets/style.css')  
 body
  h1 Subject Summary
  table(border=1)
   tr 
   th #{name}
   th #{maxScore}
   th 
    a(href="/grades/#{grade_id}") #{grade_name}
  table(border=1 )
   th Student Name
   th Score
   each sc in score
    form(action="/updateScore/#{id}",method="post")
     tr 
      td
       a(href="/students/#{sc.student_id}") #{sc.student_name}
      td 
       input(type="number" value='#{sc.score}' name='score_#{id}_#{sc.student_id}')
      td
       input(type="submit" value="save score")
  br
  button(type="button", onclick="location.href='/editSubjectSummary/#{id}'") Edit Subject

